fieldset{
    margin: 10px;
    padding: 0px;
    width:800px;
}

h1{
    text-align: center;
    background-color: gold;
}

form{
  width: 50%;
  margin: 50px auto; /* centraliza horizontalmente e adiciona margem superior */
}