body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}



#banner{
    width: 100%;
}

.titulo-principal{
    text-transform: uppercase;
    text-align: center;
    color: red;
    background-color: darkturquoise;
    padding: 20px;
    margin: 0px;
}

.titulo2{
    color: red ;
    font-family: 'Times New Roman', Times, serif;
}
.principal{
background-color: darkturquoise;
padding: 30px;
}




.beneficios{

}