body{
    margin: 0px;
    padding: 0px;
}



#banner{
    width: 100%;
}

.titulo-principal{
    text-transform: uppercase;
    text-align: center;
    color: darkgrey;
    background-color: darkturquoise;
    padding: 20px;
    margin: 0px;
}