body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}



#banner{
    width: 100%;
}

.titulo-principal{
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: rgb(210, 180, 140);
    padding: 20px;
    margin: 0px;
}

.titulo2{
    color: white ;
    font-family: 'Times New Roman', Times, serif;
}
.principal{
background-color: red;
padding: 30px;
margin: 0px;
}




.beneficios{
    background-color: rgb(210, 180, 140);
    padding: 30px;
    margin: 0;


}

ul{

}